<main class="wrapper_auth">
  <a class="back-to-the-main" href="/">Вернуться на главную</a>

  <div class="white_center_block">

    <h2>Вход</h2>
    <form>
      <label for="login">Логин</label>
      <input type="text" id="login" name="login" />

      <label for="password">Пароль</label>
      <input type="text" id="password" name="password" />

      {{> button text="Войти" }}
      <a href="/sign-up">Ещё не зарегистрированы?</a>
    </form>

  </div>
</main>
