<div class="wrapper_auth">
  <a class="back-to-the-main" href="/">Вернуться на главную</a>

  <div class="white_center_block">
    <h2>{{ header }}</h2>
    <form>
      {{{ login }}}
      {{{ password }}}
      {{{ button }}}
      <a href="/sign-up">Ещё не зарегистрированы?</a>
    </form>

  </div>
</div>
