<main class="wrapper_auth">
  <a class="back-to-the-main" href="/">Вернуться на главную</a>

  <div class="white_center_block_no_shadow">

    <div class="pic_preview_wrap">
      <div class="pic_preview"></div>
     <input type="hidden" name="avatar" value="{{ avatar }}" />
    </div>

    <h2>{{ display_name_value }}</h2>

    {{{ profile }}}

    <hr />

    {{{ password }}}

  </div>
</main>
