<div class="wrapper_auth">
  <a class="back-to-the-main" href="/">Вернуться на главную</a>

  <div class="white_center_block">

    <h2>Регистрация</h2>
    <form>
      <label for="first_name">Имя</label>
      <input type="text" name="first_name" />

      <label for="second_name">Фамилия</label>
      <input type="text" name="second_name" />

      <label for="login">Логин</label>
      <input type="text" name="login" />

      <label for="email">E-mail</label>
      <input type="text" name="email" />

      <label for="phone">Телефон</label>
      <input type="text" name="phone" />

      <label for="password">Пароль</label>
      <input type="text" name="password" />

      {{> button text="Зарегистрироваться" }}
    </form>

  </div>
</div>
