<div class="left_col_header">
  
  <a href="/">Вернуться на главную</a>
  
  <div class="profile_block">
    <img src="/images/person.svg" />
    <a href="/profile">Профиль</a>
  </div>

  <div class="search_block">
    {{{ search_input }}}
  </div>

</div>

<div class="left_col_chats_list">
  {{{ list }}}
</div>
