<div class="right_col_header_body">
    
  <div class="right_col_header">
    <div class="right_col_header_ava">{{ letter }}</div>
    <div class="right_col_header_dots">
      <div class="dot"></div>
    </div>
  </div>

  <div class="right_col_body">
    <div class="chat_body_field" id="chat_body_field">
      
      {{{ list }}}

    </div>
  </div>

</div>

{{{ send_message_form }}}
