@use "./styles/normalize";
@use "./styles/mixins";
@use "./styles/variables";

body {
  font-family: Roboto, sans-serif;
}

#app {
  min-height: 100%;
}

.wrapper_chats {
  @include mixins.left-top;

  width: 100%;
  min-height: 100%;
}

.wrapper_auth {
  @include mixins.center-top;

  min-height: 100vh;
  position: relative;
}

.wrapper_error {
  @include mixins.center;

  min-height: 100vh;
  position: relative;
  flex-wrap: wrap;

  div {
    text-align: center;
    padding-bottom: 50px;

    h1 {
      font-size: 10em;
      font-weight: 200;
      width: 100%;
    }

    h2 {
      font-size: 2em;
      width: 100%;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
}

.white_center_block {
  @include mixins.white-center-block;

  margin-top: 10vh;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #00000036;
}

.white_center_block_no_shadow {
  @include mixins.white-center-block;

  padding: 25px 30px 35px;
  margin-top: 20px;
}

hr {
  display: block;
  width: 90%;
  height: 1px;
  background-color: variables.$ava-gray;
  margin: 0 5%;
  padding: 0;
  border: 0;
  outline: none;
}

input.invalid {
  border-color: variables.$red !important;
}

form {
  label {
    font-size: 1em;
    color: variables.$light-text;
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  input {
    border-radius: 5px;
    height: 40px;
    outline: 0;
    width: 100%;
    border: 1px solid #D0D0D0;
    margin: 0 0 20px;
  }

  button {
    @include mixins.button;

    margin-top: 13px;
  }

  a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

.pop_up_bg {
  @include mixins.center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000000ba;
  display: none;
  opacity: 0;
  transition: all 0.3s ease;

  .popUpContent {
    min-width: 330px;
    min-height: 100px;
    padding: 50px 15px 15px;
    box-shadow: 0 2px 25px 0 #00000080;
    background-color: white;
    border-radius: 10px;
    position: relative;
  
    .pop_up_close {
      position: absolute;
      top: 10px;
      right: 15px;
      color: variables.$light-text;
      cursor: pointer;
    }
  
    button {
      margin-top: 0;
    }
  
    #pop-up-content {
      .user_to_delete {
        width: 100%;
        text-align: center;
        cursor: pointer;
        padding: 8px;
        color: white;
        background-color:  variables.$red;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }
  }
}
