<ul>
  <li>
    <a href="/">Навигация</a>
  </li>
  <li>
    <a href="/sign-in">Вход</a>
  </li>
  <li>
    <a href="/sign-up">Регистрация</a>
  </li>
  <li>
    <a href="/chats">Чаты</a>
  </li>
  <li>
    <a href="/profile">Настройки профиля</a>
  </li>
  <li>
    <a href="/404">Страница 404</a>
  </li>
  <li>
    <a href="/500">Страница 500</a>
  </li>
</ul>